body{
    background-color: rgb(174, 110, 110);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.signup{
    width: 360px;
    height: 620px;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 3px;
}


.login{
    width: 360px;
    height: 350px;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 3px;
}


h1{
    color: brown;
    background-color: rgb(221, 185, 185);
    text-align: center;
    padding-top: 15px;
}

h2{
    text-align: center;
    padding-top: 15px;
}

h4{
    text-align: center;
}

form{
    width: 300px;
    margin-left: 20px;
}

form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
    
}

form input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

input[type="button"]{
    width: 320px;
    height: 35px;
    margin-top: 20px;
    border: none;
    background-color: rgb(174, 110, 110);
    font-size: 18px;
    color: aliceblue;

    

}

p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
}

.para2{
    color: aliceblue;
}
